.header {
    background: var(--LBlue);
    border-radius: 0px 0px 6px 6px;
    border: 0;
    line-height: 0em;
    padding: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: -8px;
}

/* Logo text and icon */
.logo {
    float: left;
    align-items: center;
    text-align: center;
    display: flex;
    position:relative;
}
a {
    text-decoration: none;
}
.logo-text {
    color: var(--LGray);
}

footer {
    background: var(--LBlue);
    border-radius: 6px 6px 0px 0px;
    border: 0;
    line-height: 0em;
    padding: 18px;
    width: 100%;
    text-align: center;
    color: var(--LGray);
    margin: 50px -8px -8px -8px;
}