.task {
    background-color: var(--LGray);
    border-radius: 6px;
    padding: 20px 30px;
}

.task-desc {
    display: flex;
    flex-direction: column;
    line-height: 0em;
}

.task-title {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-description {
    line-height: 1.5em;
}

.task-location {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-img {
    margin-right: 6px;
}

.task-progres {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-tracker {
    margin-left: 16px;
}

#progress-tracker {
    width: 300px;
    height: 20px;
    background-color: var(--LBlue);
  }
  
  #progress-bar {
    height: 100%;
    background-color: var(--Blue);
  }